.all-orders-btn {
    background: #ffffff !important;
    border: 1px solid;
    border-radius: 30px !important;
    color: #0038ff !important;
    padding: 2px 15px;
    min-width: 143px;    
    margin-top: 60px;
}