<div class="container">
    <div class="row">
        <div class="col-9 offset-md-2">
            <div class="text-center mt-5">
                <img class="my-4" src="../../assets/images/confirmation-img.PNG" alt="">
                <h1>Order Submitted</h1>
                <p class="my-4">Your order 261611 was succesfully submitted to ABB labs. You will receive a confimation email shortly</p>
                <button mat-stroked-button class="all-orders-btn">All Orders</button>
            </div>
        </div>
    </div>
</div>