<!-- Custom login form  -->

<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
            <input type="text" class="form-control" placeholder="Username" formControlName="username"
              [(ngModel)]="user.username" required>
            <div
              *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
              <p class="sm-txt-red" *ngIf="loginForm.controls['username'].hasError('required')">
                Username is required!</p>
            </div>

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="password"
              [(ngModel)]="user.password" type="password" required>

            <div
              *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
              <p class="sm-txt-red" *ngIf="loginForm.controls['password'].hasError('required')">
                Password is required!
              </p>
              <p class="sm-txt-red" *ngIf="loginForm.controls['password'].hasError('minlength')">Password should be
                minmum 4 digits</p>
            </div>

          </div>
          <div>{{erroMassege}}</div>


          <div class="form-check pl-0">
            <label class="form-check-label pt-1">
              <!-- <input type="checkbox" class="form-check-input">
              <small>Forgot password?</small> -->
              <a class="sm-txt-red" routerlink="/registration">Forgot password?</a>
            </label>
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-login float-right">Submit</button>
          </div>

        </form>
        <div class="copy-text">
          <p class="text-center"> Don't Have An Account? <a routerlink="/registration">Sign Up here</a></p>
        </div>
      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg"
                alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg"
                alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>